langchain-groq>=0.3.5
langchain-docling>=0.1.0
langchain-core>=0.3.67
langchain-ollama>=0.2.0
python-dotenv>=1.1.1
matplotlib>=3.10.0
pillow>=11.2.1
tqdm>=4.67.1
numpy>=2.0.2
pytesseract>=0.3.13
pandas>=2.0.0
transformers>=4.53.0
torch>=2.7.1
torchvision>=0.22.1
accelerate>=1.8.1
datasets>=3.6.0
sentencepiece>=0.2.0
groq>=0.29.0